
/* Common */
body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #1e1e1e;
    padding: 0 10px; 
    box-sizing: border-box;
  }

@media (min-width: 768px) {
    body {
        padding: 0 20px; /* 中程度の画面サイズでは左右に20pxのパディング */
    }
}

@media (min-width: 1200px) {
    body {
        padding: 0 40px; /* 大きな画面サイズでは左右に40pxのパディング */
    }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #000;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

header {
    background-color: #767575;
    border-radius: 30px;
    padding: 60px 120px;
}

.navbar {
    display: flex;
    justify-content: right;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list-resume li {
    margin: 0 90px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffa500; /* ホバー時に色を変える */
}

.nav-link-resume {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 10px;
}

.nav-link-resume:hover {
    color: #ffa500; /* ホバー時に色を変える */
}

.logo{
    max-width: 50px; 
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 300;
    color: #4a4a4a;
  }  

  nav > ul > li > a :active
    font-weight: 700;
    color: #ffa500;
  }  




.cta-main {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-main:hover {
    background-color: #0056b3;
}

main {
    padding-top: 133px;
 }


/* Skills */
.skillcard-container {
    display: flex;
    gap: 20px; /* カード間の間隔 */
    flex-wrap: wrap; /* スクリーンサイズに合わせて折り返す */
    max-width: 1200px; /* カードコンテナの最大幅 */
    width: 100%;
    justify-content: center;
}

.skillcard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 220px; /* カードの幅 */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-icon {
    margin-bottom: 15px;
}

.card-icon img {
    width: 50px; /* アイコンの幅 */
    height: 50px; /* アイコンの高さ */
}

.container {
    text-align: center; /* コンテナ内の要素を中央に揃える */
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: center; /* アイコンを中央に揃える */
    gap: 10px; /* アイコン間の間隔 */
    flex-wrap: wrap; /* アイコンがコンテナの幅を超えた場合に折り返す */
    margin-bottom: 20px; /* CTAボタンとアイコン間のスペース */
}

.icon img {
    width: 100%; /* アイコンの幅に合わせて画像を拡大縮小 */
    height: auto; /* 画像の縦横比を保つ */
    display: block; /* 画像の下に余白ができないようにする */
}

  /* contact */
#contact {
    text-align: center;
}

.icons-contact {
    display: flex;
    justify-content: center;
    gap: 20px; /* アイコン間のスペース */
}

.icon {
    display: inline-block;
    width: 40px; /* アイコンの幅 */
    height: 40px; /* アイコンの高さ */
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* アイコンのサイズに合わせて調整 */
}

.icon:hover {
    opacity: 0.7; /* ホバー時に少し透過させる */
    transition: opacity 0.3s ease;
}

  /* project list*/
  .card-container-project {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* カード間の間隔 */
    max-width: 1200px; /* カードコンテナの最大幅 */
    width: 100%;
}

.card-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 内容を上下に分ける */
    width: calc(50% - 20px); /* 2列にするための幅設定 */
    height: 300px; /* カードの高さ */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    color: #fff; /* テキストの色 */
    box-sizing: border-box; /* ボックスモデルの設定 */
    position: relative; /* 相対位置にすることでカード内容を絶対位置に配置 */
}

.card-content-project {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
    padding: 20px;
    border-radius: 8px;
    max-height: calc(100% - 40px); /* 高さの最大値をカードの高さに合わせる */
    overflow: hidden; /* コンテンツが多すぎる場合に隠す */
}

/* project */
.card-container-projectheader {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* カード間の間隔 */
    max-width: 1200px; /* カードコンテナの最大幅 */
    width: 100%;
}

.card-projectheader {
    display: flex;
    width: 100%;
    height: 300px; /* カードの高さ */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    color: #fff; /* テキストの色 */
    box-sizing: border-box; /* ボックスモデルの設定 */
    position: relative; /* 相対位置にすることでカード内容を絶対位置に配置 */
}

.card-content-projectheader {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
    padding: 20px;
    border-radius: 8px;
    max-height: calc(100% - 40px); /* 高さの最大値をカードの高さに合わせる */
    overflow: hidden; /* コンテンツが多すぎる場合に隠す */
}
.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #0056b3;
}


.responsive-image {
    display: flex; /* Flexboxで中央揃えを簡単に */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 100vh; /* ビューポートの高さを100%に設定 */
    overflow: hidden; /* 画像がはみ出さないようにする */
    
}

.responsive-image img {
    display: block; /* 画像の下に余白を入れない */
    width: 80%; /* 画像の幅を親要素に合わせて100%に設定 */
    max-width: 100%; /* 画像の幅を親要素に合わせて100%に設定 */
    height: auto; /* 高さを自動調整 */
    padding: 0,0;
    margin: 0,0;
}

.responsive-image-others {
    width: 100%; /* 親要素に対して幅を100%に設定 */
    overflow: hidden; /* 画像がはみ出さないようにする */
}

.responsive-image-others img {
    display: block; /* 画像の下に余白を入れない */
    width: 100%; /* 画像の幅を親要素に合わせて100%に設定 */
    height: auto; /* 高さを自動調整 */
    padding: 0,0;
    margin: 0,0;
}

 /* About */
 .container-about {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0; /* Light background color */
}

 .card-container-about {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between cards */
    align-items: center; /* Center cards horizontally */
}

.background-image-about {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place image behind cards */
}

.card-about {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    height: 200px;
    text-align: center;
}

.card-content-who {
    align-items: left;
    text-align: left;
}

.card-content-about {
    display: flex;
    align-items: center;
}

.card-icon-about {
    font-size: 2rem; /* Adjust icon size */
    margin-right: 15px; /* Space between icon and text */
}

.text-content-about {
    display: flex;
    flex-direction: column;
    text-align: left; /* Align text to the left */
    line-height: 20px;
}

/* Education & Career */
.card-container-education {
    display: flex;
    gap: 20px; /* カード間の間隔 */
    flex-wrap: wrap; /* スクリーンサイズに合わせて折り返す */
    max-width: 1200px; /* カードコンテナの最大幅 */
    width: 100%;
    justify-content: center;
}

.card-education {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* カードの幅 */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-icon-education {
    margin-bottom: 15px;
}

.card-icon-education img {
    width: 50px; /* アイコンの幅 */
    height: 50px; /* アイコンの高さ */
}

/* Why Product Designer */
.card-container-why {
    display: flex;
    gap: 20px; /* カード間の間隔 */
    flex-wrap: wrap; /* スクリーンサイズに合わせて折り返す */
    max-width: 1200px; /* カードコンテナの最大幅 */
    width: 100%;
    justify-content: center;
}

.container-about {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0; /* Light background color */
}

.card-why {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    height: 200px;
    text-align: center;
}

.card-icon-why {
    margin-bottom: 15px;
}

.card-icon-why img {
    width: 50px; /* アイコンの幅 */
    height: 50px; /* アイコンの高さ */
}
